@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Nunito+Sans&family=Nunito:wght@700&family=Poppins&family=Quicksand:wght@500&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-size: 2rem;
}
#todo{
    background-color: aquamarine;
}
input{
    height:1.5rem;
}
p{
    background-color: rgb(19, 252, 11);
    border:1px solid white;

}